Python Programming_Assignment2

In [10]:
#Program to convert Kilometers in to Miles
kms = int(input("Enter the kilometers for the conversion "))
#1km = 0.621371
m = 0.621371*kms
print("Miles = ", m)

Enter the kilometers for the conversion 10
Miles =  6.21371

In [12]:
#Program to convert Celsius into Fahrenheit
c = int(input("Enter the celsius "))
#1 Celsius  = 33.8F
f = (c * 9/5) + 32
print("Fahrenheit = ", f)

Enter the celsius 25
Fahrenheit =  77.0

In [17]:
#Program to display calendar
import calendar
print("Calendar for the year 2021\n")
print(calendar.calendar(2021,3,1,4))

Calendar for the year 2021

                                           2021

          January                        February                        March
Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun
                  1   2   3      1   2   3   4   5   6   7      1   2   3   4   5   6   7
  4   5   6   7   8   9  10      8   9  10  11  12  13  14      8   9  10  11  12  13  14
 11  12  13  14  15  16  17     15  16  17  18  19  20  21     15  16  17  18  19  20  21
 18  19  20  21  22  23  24     22  23  24  25  26  27  28     22  23  24  25  26  27  28
 25  26  27  28  29  30  31                                    29  30  31

           April                           May                            June
Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun
              1   2   3   4                          1   2          1   2   3   4   5   6
  5   6   7   8   9  10  11      3   4   5   6   7   8   9      7   8   9  10  11  12  13
 12  13  14  15  16  17  18     10  11  12  13  14  15  16     14  15  16  17  18  19  20
 19  20  21  22  23  24  25     17  18  19  20  21  22  23     21  22  23  24  25  26  27
 26  27  28  29  30             24  25  26  27  28  29  30     28  29  30
                                31

            July                          August                       September
Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun
              1   2   3   4                              1              1   2   3   4   5
  5   6   7   8   9  10  11      2   3   4   5   6   7   8      6   7   8   9  10  11  12
 12  13  14  15  16  17  18      9  10  11  12  13  14  15     13  14  15  16  17  18  19
 19  20  21  22  23  24  25     16  17  18  19  20  21  22     20  21  22  23  24  25  26
 26  27  28  29  30  31         23  24  25  26  27  28  29     27  28  29  30
                                30  31

          October                        November                       December
Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun    Mon Tue Wed Thu Fri Sat Sun
                  1   2   3      1   2   3   4   5   6   7              1   2   3   4   5
  4   5   6   7   8   9  10      8   9  10  11  12  13  14      6   7   8   9  10  11  12
 11  12  13  14  15  16  17     15  16  17  18  19  20  21     13  14  15  16  17  18  19
 18  19  20  21  22  23  24     22  23  24  25  26  27  28     20  21  22  23  24  25  26
 25  26  27  28  29  30  31     29  30                         27  28  29  30  31

In [6]:
#Program to solve a Quadratic equation
#ax^2+bx+c = 0 where a, b, c, are real numbers and a!=0
import cmath
a = int(input("Enter the number which is not equal to zero"))
if a==0:
    print("Please re-enter the number ")
    a = int(input("Enter the number which is not equal to zero"))

b = int(input("Enter the number "))
c = int(input("Enter the number "))

#Calculating the value of b**2-4ac
d = (b**2)-4*a*c

x = (-b-cmath.sqrt(d))/2*a*c
y = (-b+cmath.sqrt(d))/2*a*c
print("The solutions are {0} and {1}".format(x,y))

Enter the number which is not equal to zero6
Enter the number 7
Enter the number 1
The solutions are (-36+0j) and (-6+0j)

In [12]:
#Program to swap a number without temp variable
n1 = float(input("Enter the first number "))
n2 = float(input("Enter the second number "))
print("n1 ", n1)
print("n2 ", n2)

#Swapping the two numbers
n1 = n1+n2
n2 = n1-n2
n1 = n1-n2

print("n1 ", n1)
print("n2 ", n2)

Enter the first number 0
Enter the second number 1
n1  0.0
n2  1.0
n1  1.0
n2  0.0